.video-item {
    padding-bottom: $gutter;
}
.video--overlay {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}
.video--overlay__inner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color-black, 0.4);
    padding: 15px;
    text-align: center;

    time {
        padding: 10px 0;
        display: block;
        color: $color-white;
    }

    h2 {
        font-size: 20px;
        margin: 0;

        a {
            color: $color-white;
        }
    }
}
.videos header {
    padding-bottom: 15px;
}