@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans:400,300);


.container {
    position: relative;
}
body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-text;
    font-size: 16px;
    padding-top: 330px;
    transition: padding-top .5s ease;

    a {
        color: $color-primary;

        &:hover,
        &:active,
        &:focus {
            color: darken($color-primary, 10%);
            text-decoration: none;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    ul {
        padding: 0;
        margin: 0; 
        list-style: none;
    }
}

// typography 
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: $color-primary;
}
p {
    color: $color-text;
}
