@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans:400,300);

.container {
    position: relative;
}
body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-text;
    font-size: 16px;
    padding-top: 0;
    transition: padding-top .5s ease;

    @media #{$small} {
        padding-top: 330px;
    }

    a {
        color: $color-primary;

        &:hover,
        &:active,
        &:focus {
            color: darken($color-primary, 10%);
            text-decoration: none;
        }
    }
    // images
    .wp-post-image,
    .size-medium {
        @extend .img-responsive;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

// typography
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: $color-primary;
}
p {
    color: $color-text;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 6px;
    line-height: 1.72222;
    background-color: #fff;
    border-radius: 0;
    -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.avatar {
    width: auto;
}
.avatar-32 {
    width: 32px;
    height: 32px;
}
// For IE

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

// Add 'btn-flat' to your buttons
.btn-flat,
.comment-form input[type=submit] {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:0;
}
.btn,
.comment-form input[type=submit]{
    background: $color-primary;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}
.is-btn-circle {
    $button-height: 40px;

    background: rgba($color-primary, 0.8);
    color: $color-white;
    width: $button-height;
    height: $button-height;
    display: inline-block;
    border-radius: 50%;

    i {
        line-height: $button-height;
    }
    .ion-camera {
        font-size: 24px;
    }
}
/* ---------------------------------------- */
/* Main */
/* ---------------------------------------- */
.content {
    padding-top: $gutter;
}
.info-outer {
    display: table;
    width: 100%;
    height: 100%;
}
.info {
    display: table-cell;
    vertical-align: middle;
}
.size-full {
  display: block;
  max-width: 100%;
  height: auto;
}
.item {
    padding-bottom: $gutter;
}
.item--overlay {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}
.item--overlay__inner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color-black, 0.4);
    padding: 15px;
    text-align: center;

    time {
        padding: 10px 0;
        display: block;
        color: $color-white;
    }

    h2 {
        font-size: 20px;
        margin: 0;

        a {
            color: $color-white;
        }
    }
}
.item header {
    padding-bottom: 15px;
}

.icons-inline {

    &, li {
        display: inline-block;
    }
    li  {
        padding-left: 6px;
    }
}
