// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #F47983;
$color-active: #C93756;
$color-primary: #F47983;
$color-text: #BDC3C7;
$color-background: #EEEEEE;
