// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/* ---------------------------------------- */ 
/* Variables */ 
/* ---------------------------------------- */
$color-bg: #fff;
$color-font-header: #000;
$color-font: #000;
$menu-trigger__height: 30px;
$menu-trigger__width: 40px;
$menu-trigger__line__height: 5px;

$small: "only screen and (min-width: 750px)";

// Colors
$color-active: #C93756;
$color-primary: #F47983;
$color-text: #ABABAB;
$color-background: #EEEEEE;
$color-gray: #777777;
$color-black: #000;
$color-white: #fff;

$font-title: 'Playfair Display', serif;
$font-text: 'Open Sans', sans-serif;

$font-regular: 400;
$font-light: 300;

$gutter: 30px;