.footer {
    
}

.null-instagram-feed  {
    text-align: center;
    overflow: hidden;
    line-height: 2em;
}
.null-instagram-feed  h3 {
  display: inline-block;
  position: relative;
  color: $color-text;
  padding: 20px 0;
}
.null-instagram-feed h3:before,
.null-instagram-feed h3:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid;
  top: 50%;
  width: 100%;
}
.null-instagram-feed h3:before {
  right: 100%;
  margin-right: 15px;
}
.null-instagram-feed h3:after {
  left: 100%;
  margin-left: 15px;
}


.instagram-pics {
    @include make-row();

    li {
        @include make-sm-column(2);
        margin-bottom: $gutter;
        
        img {
            @extend .img-thumbnail;
        }
    }
}
.footer__wigdets {
}
.footer__bottom {
    background: $color-background;
    padding: $gutter-md 0;

    p {
        margin: 0;
        padding: 0;
    }
}
.footer__social {
    text-align: right;

    a {
      color: $color-gray;
    }
}
