header {
    width: 100%;
    height: 300px;
    background-color: $color-bg;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    color: $color-font-header;
    transition: all .5s ease;
    z-index: 99999;

    .brand {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 100;
        position:relative;
        display: inline-block;
        top: 70px;
        width: 207px;
        height: 80px; 
        background: url(../../assets/images/HelenaCesar.png) no-repeat left top;
        transition: all .3s ease;
        text-indent : -9999px;
    }
    .nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        .brand-small {
            font-size: 20px;
            display: inline-block;
        }
        @media #{$small} {
        
            .menu-trigger, 
            .brand-small {
                display: none;
            }
        }
        ul {
            padding: 0;
            margin: 0;
        }
    }
}
.main-menu {
    position: relative;
    display: none;
     @media #{$small} {
        display: block;
    }
    > li {
        display: inline-block;
        position: relative;
    }
    a {
        display: inline-block;
        padding: 10px 15px;
        line-height: 1;
        text-decoration: none;
        font-family: $font-title;
        color: $color-gray;
        text-transform: uppercase;
        font-size: 16px;

        &:hover {
            color: darken($color-gray, 10%);
        }
    }
    .menu-item-has-children {
        > a {
            @extend .glyphicon;
            @extend .glyphicon-menu-down;
            position: relative;
            padding-right: 20px;

            &:before {
                position: absolute;
                top: 13px;
                right: 4px;
                font-size: 12px;
            }
        }
        &.is-open > a {
            @extend .glyphicon-menu-up;
        }
    }
}

.sub-menu {
    position: absolute;
    white-space: nowrap;
    background: $color-bg;
    text-align: left;
    display: none;

    &.is-active {
        display: block;
    }


    li {
        display: block;
    }
}

    /* ---------------------------------------- */
    /* Sticky Header Style */
    /* ---------------------------------------- */
    
    .is-sticky {
        padding-top: 100px;
        header {
            height: 60px;
            background-color: rgba($color-bg, .9);
            .brand {
                display: none;
            }
        }
    }
    /* ---------------------------------------- */
    /* Menu Trigger  */
    /* ---------------------------------------- */
    
    // Structure
    .menu-trigger {
        display: block;
        position: absolute;
        width: $menu-trigger__width;
        height: $menu-trigger__height;
        padding: 10px 15px;
        z-index: 2;
    }
    .menu-trigger__lines {
        display: block;
        width: $menu-trigger__width;
        height: $menu-trigger__line__height;
        margin-top: 0;
        background: $color-font-header;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        margin-left: -15px;
        &::before, &::after {
            display: block;
            position: absolute;
            content: "";
            z-index: -1;
            width: $menu-trigger__width;
            height: $menu-trigger__line__height;
            background: $color-font-header;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        &::before {
            top: 0;
        }
        &::after {
            top: $menu-trigger__line__height * 4;
        }
    }
    // Clicked State
    .is-open {
        .menu-trigger__lines {
            background: none;
            &::before, &::after {
                top: $menu-trigger__line__height * 2;
            }
            &::before {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &::after {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }