
// variables
$mobile-menu-width: 300px;

.desktop-header {
    width: 100%;
    height: 300px;
    background-color: $color-bg;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    color: $color-font-header;
    transition: all .5s ease;
    z-index: 99999;
    display: none;

     @media #{$small} {
        display: block;
    }

    .admin-bar & {
        top: 0;

        @media screen and (min-width: 601px) {
            top: 32px;
        }
    }
    .brand {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 100;
        position:relative;
        display: inline-block;
        top: 70px;
        width: 455px;
        height: 150px; 
        background: url(../images/logo.jpg) no-repeat left top;
        transition: all .3s ease;
        text-indent : -9999px;

        @media #{$small} {
            display: inline-block;
        }
    }
    .nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        .brand-small {
            font-size: 20px;
            display: none;
        }
        @media #{$small} {
        
            .menu-trigger {
                display: none;
            }
        }
        ul {
            padding: 0;
            margin: 0;
        }
    }
}
.main-menu {
    position: relative;
    display: none;
    top: -10px;

     @media #{$small} {
        display: block;
    }
    > li {
        display: inline-block;
        position: relative;
    }
    a {
        display: block;
        padding: 12px 15px;
        line-height: 1;
        text-decoration: none;
        font-family: $font-title;
        color: $color-gray;
        text-transform: uppercase;
        font-size: 16px;

        @media #{$small} {
            display: inline-block;
        }

        &:hover {
            color: darken($color-gray, 10%);
        }
    }
    .current-menu-ancestor > a,
    .current-menu-item > a {
        color: $color-primary;
    }
    .menu-item-has-children {
        > a {
            @extend .glyphicon;
            @extend .glyphicon-menu-down;
            position: relative;
            padding-right: 20px;

            &:before {
                position: absolute;
                top: 16px;
                right: 4px;
                font-size: 10px;
            }
        }
        &.is-open > a {
            @extend .glyphicon-menu-up;
        }
    }
    .sub-menu {
        position: absolute;
        top: 51px;
        white-space: nowrap;
        background: $color-bg;
        text-align: left;
        display: none;

        &.is-active {
            display: block;
        }


        li {
            display: block;
        }
    }
}// main header

/* ---------------------------------------- */
/* Sticky Header Style */
/* ---------------------------------------- */

.is-sticky {
    padding-top: 200px;

    @media #{$small} {
        padding-top: 100px;
    }

    .desktop-header {
        height: 60px;
        box-shadow: 0 0 3px 0 rgba($color-black, 0.22);

        .brand {
            display: none;
        }
    }
}

/* ---------------------------------------- */
/* Mobile headers  */
/* ---------------------------------------- */
.mobile-header {
    @include transition(0.3s);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    @media #{$small} {
        display: none;
    }
    .nav {
        display: table;
        position: relative;
        width: 100%; 
        background: $color-white;
        box-shadow: 0 0 3px 0 rgba($color-black, 0.22);
        z-index: 1000;
    }
    .menu-trigger-container,
    .brand-container {
        display: table-cell;

        a {
            vertical-align: middle;
            display: inline-table;
        }
    }
    .menu-trigger-container {
        width: 20%;
    }
    .brand-container {
        width: 60%;
        padding-right: 20%;
        text-align: center;
    }
    .menu-trigger {
        position: relative;
        width: $menu-trigger__width;
        height: $menu-trigger__height;
        padding: 10px 15px;
        z-index: 999;
    }
    .brand-small {
        text-align: center;
    }
}
.left-menu {

    list-style: none;
    position: fixed;
    margin: 0;
    width: $mobile-menu-width;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-white;
    left: -$mobile-menu-width;

    li {
    
        a {
          display: block;
          padding:10px 20px;
        }
    }
}
/* Push body and nav */
.push-right {
  left: $mobile-menu-width;
}
.open-left {
  left: 0;
}
