/* ---------------------------------------- */ 
/* Home */ 
/* ---------------------------------------- */
.featured {
    img {
        @extend .img-responsive;
    }

    > div {
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }
    }
    article {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        padding: $gutter-md;

        header {
            padding: $gutter-md;
            background: rgba($color-white, 0.8);
        }
        h2 {
            margin: 0;
            padding: 0;
        }
    }
    .col-sm-5 {
        @media #{$small} {
           padding-left: 1.3513513515%;
        }
    }
}
.featured__item {
    padding-bottom: $gutter;

    @media #{$small} {
       padding-right: 1.3513513515%;
    }
}
.featured__item--video {


    h2 {
        font-size: 20px;
    }

    @media #{$small} {
       padding-bottom: 1.3513513515%;
    }
}
.featured__item--portfolio {
    @media #{$small} {
       padding-top: 1.3513513515%;
    }
}