.post {
    padding-bottom: $gutter;
    margin-bottom: $gutter;
    border-bottom: 1px solid $color-background;

    h2,
    time {
        padding-bottom: $gutter-sm;
    }
    h2 {
        margin: 0;
    }
    time {
        display: block;
    }
    .entry-thubmbnail {
        padding-bottom: $gutter-md;
    }
}
